{% extends 'base.html.twig' %}

{% block title %}Hello AboutController!{% endblock %}

{% block body %}

    <style>

        section {
            margin-bottom: 52px;
        }
        .link {
            background-color: #1B3168;
            padding: 8px 18px;
            font-weight: bold;
        }
        .reglement p:nth-child(5){
            margin-bottom: 32px;
        }
        .reglement p:nth-child(3){
            margin-bottom: 40px;
        }
        .reglement p {
            line-height: 135%;
        }
         h4 {
            font-size:20px;
            font-weight:bold;
            margin-bottom: 28px;
         }
         .case {
            width: 250px;
         }
    </style>

    <h3>Presentation du CSE</h3>

    <section>
        <div class="d-flex align-start">

            {% for member in members %}

            <div class="case">
                <img src="{{ asset( 'assets/member/' ~ member.picture) }}"/>
                <h4 class="t-center">{{ member.fullname }} - <span>{{member.role}}</span></h4>
             </div>

            {% endfor %}

        </div>
    </section>

    <section class="reglement">
        <h3>Reglement du CSE</h3>
        {% for item in reglements %}
            <h4>{{item.title}}</h4>
            <p>{{item.content}}</p>
        {% else %}
            <p>Aucun contenu n'a été trouvé</p>
        {% endfor %}
        <a href="" class="link white">Pour lire la suite ></a>
    </section>
    <section>

    <h3>Grace au CSE</h3>

        <div class="d-flex align-start">

            {% for activity in activities %}

            <div class="case">
                <img src="{{ asset( 'assets/activity/' ~ activity.picture) }}"/>
                <h4 class="t-center">{{ activity.title }} - <span>{{ activity.date|date("d/m/Y") }}</span></h4>
             </div>

            {% endfor %}
        </div>

    </section>
   
{% endblock %}
