{% extends 'baseBackoffice.html.twig' %}

{% block title %}Hello SurveyController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .body-array {display: flex; flex-direction: column}
</style>

 <div class="bodyContainer">
  <h1>Liste des Sondages</h1>

    <div class="array container">
        <div class="header-array">
            <div class="d-flex">
                <div class="col">
                    <h3>ID</h3>
                </div>
                <div class="col">
                    <h3>Question</h3>
                </div>
                <div class="col">
                    <h3>Réponses</h3>
                </div>
                <div class="col">
                    <h3>Status</h3>
                </div>
            </div>
        </div>
        <div class="body-array">
            {% for item in surveys %}
                <div class="d-flex">
                    <div class="col">
                        <p>{{ item.id }}</p>
                    </div>
                    <div class="col">
                        <p>{{ item.question}}</p>
                    </div>
                    <div class="col">
                    <ul>
                        {% for answer in item.answers %}
                        <li><p>{{ answer.text }}</p></li>
                        {% endfor %}
                    </ul>
                    </div>
                    <div class="col">
                        <p>{{ item.status }}</p>
                    </div>
                    <div class="col d-flex justify-start">
                        <a class="btn" href="{{ path('app_survey_show', {'id': item.id}) }}">Détails</a>
                        <a class="btn" href="{{ path('app_survey_edit', {'id': item.id}) }}">Modifier</a>
                    </div>
                </div>
            {% else %}
                <tr>
                    <td colspan="5">Aucun Sondage n'a été trouvé. Créer en un.</td>
                </tr>
            {% endfor %}
        </div>
            <a class="btn" href="{{ path('app_survey_new') }}">Créer un Sondage</a>
    </div>
</div>
{% endblock %}
 
