{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ asset('css/glider.min.css') }}">
{% endblock %}


{% block title %}Accueil CSE St Vincent{% endblock %}

{% block body %}

<style>
.background-partnaire {
  background-color: #C4C4C4;
  padding: 24px 4px 12px 4px;
  margin-bottom: 8px;
}
.glider-contain {
  width: 174px;
  height: 174px;
}
.glider-next {
  right: -30px;
}
.glider-prev {
  left: -30px;
}
.underline {
  border-bottom: 1px solid #000000;
}
.tab section:last-child {
  margin-bottom: 0;
}
.main-body {
  margin-bottom: 80px;
}
</style>

<div class="d-flex align-start main-body">
  <div class="tab">
    <section>
      <div class="survey">
        <div class="background white">
          <h3 class="t-center">Votre avis compte</h3>
        </div>
        <div class="body">
          <p class="t-center question">Pour quel parc d'attraction  souhaiteriez-vous obtenir des prix ?</p>
          <div class="d-flex justify-start">
            <input type="radio" name="test" id="" value="le parc asterix"> 
            <label>le parc asterix</label>
          </div>
          <div class="d-flex justify-start">
            <input type="radio" name="test" id="" value="le parc disneyland"> 
            <label>le parc disneyland</label>
          </div>
          <div class="d-flex justify-start">
            <input type="radio" name="test" id="" value="le futoroscope"> 
            <label>le futoroscope</label>
          </div>
        </div>
        <div class="d-flex background white call-action">
          <a class="btn t-center" href="#">Voir les reponses</a>
          <a class="btn t-center" href="#">Valider</a>
        </div>
      </div>
    </section>
    <section>
      <h2>Accès rapide</h2>
      <div class="d-flex direction-column align-start">
        <a href="{{ path('billeterie') }}">> Offres permanentes / Billetterie</a>
        <a href="{{ path('contact') }}">> Nous contacter</a>
      </div>
    </section>
    <section class="information">
      <h2>Information de contact</h2>
      <p>> Par téléphone : +33303030303</p>
      <p>> Par email : cse@lyceestvincent.fr</p>
      <p>> Au lycée : Bureau du CSE (1er étage bâtiment Saint-Vincent)</p>
    </section>
    <section>
      <h2>Nos partenaires</h2>
      <div class="background-partnaire">
        <div class="glider-contain">
          <div class="glider">
            <img src="{{ asset('assets/leonidas.jpg') }}" alt="">
            <img src="{{ asset('assets/leonidas.jpg') }}" alt="">
            <img src="{{ asset('assets/leonidas.jpg') }}" alt="">
          </div>

          <button aria-label="Previous" class="glider-prev">«</button>
          <button aria-label="Next" class="glider-next">»</button>
          <div role="tablist" class="dots"></div>
        </div>
      </div>
      <a href="{{ path('partenaire') }}" class="t-center underline">Découvrir tous nos partenaires</a>
    </section>
  </div>
  <div class="main-content">
    <section>
      <div class="background presentation">
        <h3 class="blue">CSE Lycée Saint-Vincent</h3>
        <p>Nous vous souhaitons la bienvenue sur le site du comité social et économique du lycée Saint-Vincent à Senlis.</p>
        <p>Découvrez <a href="">l'équipe</a> et <a href="">le rôle</a> et missions de votre CSE.</p>
      </div>
    </section>
    <section id="ads">
      <h4>Dernières offres ponctuelles</h4>
      <div class="ad">
        <div class="d-flex justify-start">
          <p class="status white">OFFRE PONCTUELLE</p>
          <p class="date">Publié le 11 décembre 2022 - Du 10/12/2022 au 24/12/2022</p>
        </div>
        <p>Profitez de -20% sur une sélection de parfum, en partenariat avec l'enseigne Nocibé de Senlis.</p>
        <p>Merci de vous rendre au bureau du CSE pour pouvor passer commande</p>
        <p>Catalogue : tarifs.pdf</p>
        <div class="d-flex justify-end">
          <a href="" class="text-right">En savoir plus ></a>
        </div>
      </div>
      <div class="ad">
        <div class="d-flex justify-start">
          <p class="status white">OFFRE PONCTUELLE</p>
          <p class="date">Publié le 11 décembre 2022 - Du 10/12/2022 au 24/12/2022</p>
        </div>
        <p>Profitez de -20% sur une sélection de parfum, en partenariat avec l'enseigne Nocibé de Senlis.</p>
        <p>Merci de vous rendre au bureau du CSE pour pouvor passer commande</p>
        <p>Catalogue : tarifs.pdf</p>
        <div class="d-flex justify-end">
          <a href="" class="text-right">En savoir plus ></a>
        </div>
      </div>
      <div class="ad">
        <div class="d-flex justify-start">
          <p class="status white">OFFRE PONCTUELLE</p>
          <p class="date">Publié le 11 décembre 2022 - Du 10/12/2022 au 24/12/2022</p>
        </div>
        <p>Profitez de -20% sur une sélection de parfum, en partenariat avec l'enseigne Nocibé de Senlis.</p>
        <p>Merci de vous rendre au bureau du CSE pour pouvor passer commande</p>
        <p>Catalogue : tarifs.pdf</p>
        <div class="d-flex justify-end">
          <a href="" class="text-right">En savoir plus ></a>
        </div>
      </div>
      <div class="ad">
        <div class="d-flex justify-start">
          <p class="status white">OFFRE PONCTUELLE</p>
          <p class="date">Publié le 11 décembre 2022 - Du 10/12/2022 au 24/12/2022</p>
        </div>
        <p>Profitez de -20% sur une sélection de parfum, en partenariat avec l'enseigne Nocibé de Senlis.</p>
        <p>Merci de vous rendre au bureau du CSE pour pouvor passer commande</p>
        <p>Catalogue : tarifs.pdf</p>
        <div class="d-flex justify-end">
          <a href="" class="text-right">En savoir plus ></a>
        </div>
      </div>
    </section>
  </div>
</div>

<script src="{{ asset('js/glider.min.js') }}"></script>
<script src="{{ asset('js/main.js') }}"></script>

{% endblock %}
