{% extends 'base.html.twig' %}

{% block title %}Hello PartnershipController!{% endblock %}

{% block body %}

    <h3>Partenariats</h3>

    <div class="d-flex partnership">
        <div class="brand">
            <img src="{{ asset('assets/jackdaniel.jpg') }}" alt="">
            <div class="description background ">
                <div class="description detail t-center white">
                    <h4>Jack Daniel</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, nulla commodi sapiente amet magni, molestiae</p>
                    <a href="">En savoir plus</a>
                </div>
            </div>
        </div>
        <div class="brand">
            <img src="{{ asset('assets/airfrance.jpg') }}" alt="">
            <div class="description background ">
                <div class="description detail t-center white">
                    <h4>Air France</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, nulla commodi sapiente amet magni, molestiae</p>
                    <a href="">En savoir plus</a>
                </div>
            </div>
        </div>
        <div class="brand">
            <img src="{{ asset('assets/carrefour.jpg') }}" alt="">
            <div class="description background ">
                <div class="description detail t-center white">
                    <h4>Carrefour</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, nulla commodi sapiente amet magni, molestiae</p>
                    <a href="">En savoir plus</a>
                </div>
            </div>
        </div>
        <div class="brand">
            <img src="{{ asset('assets/mercedes.jpg') }}" alt="">
            <div class="description background ">
                <div class="description detail t-center white">
                    <h4>Mercedes</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, nulla commodi sapiente amet magni, molestiae</p>
                    <a href="">En savoir plus</a>
                </div>
            </div>
        </div>
        <div class="brand">
            <img src="{{ asset('assets/disney.jpg') }}" alt="">
            <div class="description background ">
                <div class="description detail t-center white">
                    <h4>Disney</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, nulla commodi sapiente amet magni, molestiae</p>
                    <a href="">En savoir plus</a>
                </div>
            </div>
        </div>
        <div class="brand">
            <img src="{{ asset('assets/marshall.jpg') }}" alt="">
            <div class="description background ">
                <div class="description detail t-center white">
                    <h4>Marshall</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, nulla commodi sapiente amet magni, molestiae</p>
                    <a href="">En savoir plus</a>
                </div>
            </div>
        </div>
        <div class="brand">
            <img src="{{ asset('assets/mcdonald.jpg') }}" alt="">
            <div class="description background ">
                <div class="description detail t-center white">
                    <h4>Mcdonald</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, nulla commodi sapiente amet magni, molestiae</p>
                    <a href="">En savoir plus</a>
                </div>
            </div>
        </div>
        <div class="brand">
            <img src="{{ asset('assets/adidas.jpg') }}" alt="">
            <div class="description background ">
                <div class="description detail t-center white">
                    <h4>Adidas</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, nulla commodi sapiente amet magni, molestiae</p>
                    <a href="">En savoir plus</a>
                </div>
            </div>
        </div>
        <div class="brand">
            <img src="{{ asset('assets/starbuck.jpg') }}" alt="">
            <div class="description background ">
                <div class="description detail t-center white">
                    <h4>Starbuck</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, nulla commodi sapiente amet magni, molestiae</p>
                    <a href="">En savoir plus</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
