{% extends 'baseBackoffice.html.twig' %}

{% block title %}Contenus{% endblock %}

{% block body %}
    <h1>Contenus</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ content.id }}</td>
            </tr>
            <tr>
                <th>Page</th>
                <td>{{ content.page }}</td>
            </tr>
            <tr>
                <th>Section</th>
                <td>{{ content.section }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ content.title }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ content.content }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_content_index') }}">back to list</a>

    <a href="{{ path('app_content_edit', {'id': content.id}) }}">edit</a>

    {{ include('content/_delete_form.html.twig') }}
{% endblock %}