{% extends 'base.html.twig' %}

{% block title %}Hello TicketOfficeController!{% endblock %}

{% block body %}

    <style>
        #search-tool {
            border-radius:13px;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
            padding: 12px 32px;
            width: fit-content;
            margin: 46px 0  30px 0;

        }
        #search-tool > .d-flex {
            gap:100px
        }
        #search-tool input[type=text]{
            width:120px;
            border:none;
            border-bottom: 2px solid #EFEDED;
            padding: 4px;
        }
        #search-tool input[type=date]{
            border:none
        }
        .search-parameter {
            gap: 40px;
        }
        .ad:last-child {
            margin-bottom: 80px;
        }
    </style>

    <form action="" method="post" id="search-tool">
        <div class="d-flex justify-start">
            <input type="submit" value="chercher">
            <div class="search-parameter d-flex">
                <input type="text" name="" value="" placeholder="text">
                <input id="date" name="" type="date" value="2017-06-01">
            </div>
        </div>
    </form>

    <h3>Billeterie</h3>

          {% for item in offers %}
      <div class="ad">
        <div class="d-flex justify-start">  
          <p class="status white">{{item.Status}}</p>
          <p class="date">Publiée le {{item.creationDate.format('Y-m-d')}} - Du {{item.dateStart.format('Y-m-d')}} au {{item.dateStart.format('Y-m-d')}}</p>
        </div>
        <p>{{item.name}}</p>
        <p>{{item.text}}</p>
        <div class="d-flex justify-end">
          <a href="" class="text-right">En savoir plus ></a>
        </div>
      </div>
      {% else %}
        <p>Aucune Offre n'a été trouvée.</p>
      {% endfor %}
{% endblock %}
