<header>
  <div class="background">
    <div class="container">
      <div class="d-flex">
        <img src="{{ asset('assets/logo.jpg') }}" alt="">
        <nav class="d-flex white">
          <a href="{{ path('home') }}" class="{{ app.request.get('_route') == 'home' ? 'active' }}">Accueil</a>
          <a href="{{ path('partenaire') }}" class="{{ app.request.get('_route') == 'partenaire' ? 'active' }}">Partenariat</a>
          <a href="{{ path('about') }}" class="{{ app.request.get('_route') == 'about' ? 'active' }}">A propos de nous</a>
          <a href="{{ path('billeterie') }} " class="{{ app.request.get('_route') == 'billeterie' ? 'active' }}">Billeterie</a>
          <a href="{{ path('contact') }}" class="{{ app.request.get('_route') == 'contact' ? 'active' }}">Contact</a>
        </nav>
      </div>
    </div>
  </div>
</header>